* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin: 230px auto;
}

main p{
    color: hsla(0, 0%, 100%, 0.75);
    
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    width: 300px;
    height: 500px;
    color: white;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

 h2 {
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

 p {
    padding-top: 30px;
    font-size: 15px; 
    color: hsla(0, 0%, 100%, 0.75); 
    line-height: 25px;
    font-family: 'Lexend Deca', sans-serif;
}

.btn {
    margin-top: 100px;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 30px;
    border: 0;
    border-radius: 30px;
    transition: all 200ms ease;
    font-weight: bold;
}

.btn:hover {
    background-color: #CCC;
    cursor: pointer;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    width: 300px;
    height: 500px;
    color: white;
    padding: 40px;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    width: 300px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    padding: 40px;
}

.logo {
    font-size: 15px;
    width: 60px;
    height: auto;
}

.sedans .btn {
    color: hsl(31, 77%, 52%); ;
}
.suvs .btn {
    color: hsl(184, 100%, 22%);;
}
.luxury .btn {
    color: hsl(179, 100%, 13%);;
}